/*CHART*/
.container-highchart{
    width: 100%;
    height: 100%;
}
.name-tooltip-chart{
    margin-bottom: 12px;
    width: calc(100% - 15px);
    max-width: 250px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrap-name-tooltip:after{
    content: '';
    display: block;
    clear: both;
}
.wrap-name-tooltip{
    width: calc(100% - 5px);
    max-width: 250px;
    padding-left: 5px;
    margin-bottom: 12px;
    display: block;
    position: relative;
}
.btn-close-tooltip{
    width: 15px;
    height: 15px;
    float: left;
    display: block;
    cursor: pointer;
}
.btn-close-tooltip img{
    width: 15px;
    height: 15px;
}
.wrap-name-tooltip .name-tooltip-chart{
    width: calc(100% - 15px);
    max-width: unset;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    float: left;
}
.row-serie-chart{
    margin-bottom: 5px;
    width: calc(100% - 15px);
    max-width: 250px;
    min-width: 200px;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 13px;
    overflow: hidden;
}
.row-serie-chart:after{
    display:block;
    content:'';
    clear:both;
}
.circle-serie-color{
    display: block;
    width: 13px;
    height: 13px;
    margin-top: 1px;
    border-radius: 50%;
    float: left;
}
.name-serie-chart{
    margin-left: 10px;
    display: block;
    line-height: 16px;
    height: 16px;
    float: left;
    max-width: calc(100% - 25px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.action-type-wrap{
    padding: 8px;
    border: 1px solid rgb(217,217,217);
    display: inline-block;
    min-width: 100px;
    font-size: 13px;
    cursor: pointer;
    width: auto;
    max-width: 230px;
    margin-left: 5px;
}
.action-type-icon{
    width: 12px;
    height: 12px;
    display: block;
    margin-right: 10px;
    float: left;
}
.action-type-name{
    display: block;
    height: 13px;
    line-height: 13px;
    float: left;
    max-width: calc(100% - 22px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.add-new-action-type{
    padding: 8px;
    padding-left: 5px ;
    padding-right: 5px;
    display: inline-block;
    min-width: 100px;
    max-width: 230px;
    font-size: 13px;
    cursor: pointer;
}
.add-new-action-type img{
    display: block;
    width: 12px;
    height: 12px;
    margin-top: 0px;
    margin-right: 10px;
    float: left;
}
.add-new-action-type span{
    display: block;
    height: 13px;
    line-height: 13px;
    float: left;
}
.wrap-link-to{
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
    color: #007CA4;
}
.wrap-link-to span{
    color: #007CA4;
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
}
.wrapper-column-widget{
    width: 100%;
    height: 100%;
    background: white;
}
.header-column-widget{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(217,217,217);
}
.content-column-widget{
    width: 100%;
    height: calc(100% - 40px);
}
.wrapper-column-graph{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.button-next-column,
.button-previous-column{
    position: relative;
    height: 100%;
    width: 50px;
    float: left;
    cursor: pointer;
    background: #fff;
    z-index: 1;
}
.button-next-column img,
.button-previous-column img{
    position: absolute;
    width: 25px;
    height: 25px;
    top: calc(50% - 25px / 2);
    left: calc(25px/2);
}
.button-next-column:hover,
.button-previous-column:hover{
    background: #CCEFFC;
}
.content-column-graph{
    height: 100%;
    width: calc(100% - 100px);
    float: left;
}
.total-of-site-block{
    width: 100%;
    height: 30px;
}
.column-graph-block{
    width: 100%;
    height: calc(100% - 60px);
}