#cardID, #nameID, #dateID, #balanceID,
input, select{
    font-size: 11px !important;
    line-height: 11px!important;;
}
span.form-control{
    font-size: 11px;
}
.separate-line{
    width: 100%;
    height: 1px;
    background: rgb(217,217,217);
}
.wrap-form-management{
    width: 100%;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    border: 4px solid #fff;
    padding: 10px;
    position: relative;
}
.custom-select-sm {
    height: calc(1.8125rem + 2px) !important;
    padding-top: .375rem;
    padding-bottom: .375rem;
    font-size: 11px;
}
::-webkit-input-placeholder {
    font-size: 11px!important;
}

:-moz-placeholder {
    font-size: 11px!important;
}
::-moz-placeholder {
    font-size: 11px!important;
}
:-ms-input-placeholder{
    font-size: 11px!important;
}
input.checkboxSwitch {
    height: 0;
    width: 0;
    visibility: hidden;
}

.label-checkboxSwitch {
    left: 50%;
    top: 50%;
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 17px;
    background-color: rgba(57, 130, 169, .6);
    display: block;
    border-radius: 10px;
    position: absolute;
    webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.label-checkboxSwitch:after {
    content: '';
    position: absolute;
    top: -4px;
    right: 0px;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 50%;
    transition: .3s linear;
    border: 2px solid rgb(57, 130, 169);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .2);
}

.checkbox-switch-label {
    left: calc(50% + 30px);
    position: absolute;
    color: rgb(57, 130, 169);
    line-height: 28px;
    font-weight: 500;
}

.checkbox-switch-label-first {
    position: absolute;
    right: calc(50% + 30px);
    color: rgb(57, 130, 169);
    line-height: 28px;
    font-weight: 500;
}

.checkbox-switch-label-first.disabled {
    color: rgb(217, 217, 217);
    font-weight: 500;
}


.checkbox-switch-label.disabled {
    color: rgb(217, 217, 217);
    font-weight: 500;
}

input.checkboxSwitch:checked + .label-checkboxSwitch {
    background-color: rgba(57, 130, 169, .6);
}

input.checkboxSwitch:checked + .label-checkboxSwitch:after {
    right: 100%;
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
}
.table-custom-config .header {
    position: unset;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(4,61,122,.8);
    color: #FFFFFF;
    z-index: 10;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
}
.ng-table th.sortable.sort-asc, .ng-table th.sortable.sort-desc {
    background-color: rgba(4,61,122,1);
    text-shadow: unset;
}
.table-custom-config td,.table-custom-config  th{
    white-space: nowrap;
}
.table-custom-config-wrap .page-link{
    font-size: 11px !important;
}
.table-custom-config-wrap button {
    font-size: 11px !important;
}
.table-custom-config-wrap button.active{
    background: rgba(4,61,122,.6);
    color: #FFFFFF;
}
.table-custom-config td{
    font-size: 11px;
}
.row-custom{
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
}
.row-custom > .col-* {
    display: inline-block;
    float: none;
}
.ng-table th.sortable .sort-indicator:before {
    margin-top: 2px;
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}
.ng-table th.sortable .sort-indicator:before {
    margin-top: 2px;
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}
.ng-table th.sortable.sort-desc .sort-indicator:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    box-shadow: none;
}
.ng-table th.sortable.sort-asc .sort-indicator:after, .ng-table th.sortable.sort-asc .sort-indicator:hover:after, .ng-table th.sortable.sort-desc .sort-indicator:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -khtml-opacity: .6;
    -moz-opacity: .6;
    opacity: 1;
}
.ng-table th.sortable .sort-indicator:after, .ng-table th.sortable .sort-indicator:before {
    content: "";
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #fff transparent;
    visibility: visible;
    right: 5px;
    top: 50%;
    position: absolute;
    opacity: .3;
    margin-top: -4px;
}
.ng-table-counts .btn,
.ng-table-pagination{
    font-size: 11px !important;
}
.ng-table-counts .btn.active{
    background: rgba(4,61,122,.8);
    color: #FFFFFF;
}
.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255,0.8);
}
.loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}